html,body{
  background-color: #fff;
}

.page{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.presentation_wrap{
  /*display: table-cell;
  text-align: center;
  vertical-align: middle;*/
}

.presentation_wrap img{
  border: 3px solid #000;
  display: inline-block;
  vertical-align: middle;
}

.presentation_controls{
  cursor: pointer;
  font-size: 60px;
  margin: 0 20px;
  transition: .3s;
  vertical-align: middle;
}

.presentation_controls:hover{
  color: #D6254D;
}

.fullscreen-btn{
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 26px;
  color: rgba(0,0,0,.4);
}

.presentation_controls:-webkit-full-screen{
  color: #fff;
}
.presentation_controls:-moz-full-screen{
  color: #fff;
}
.presentation_controls:-ms-fullscreen{
  color: #fff;
}
.presentation_controls:full-screen{
  color: #fff;
}
.presentation_controls:fullscreen{
  color: #fff;
}
