@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import 'https://fonts.googleapis.com/css?family=Delius|Kalam';

/*
font-family: 'Kalam', cursive;
font-family: 'Delius', cursive;
*/

html,body{
  background-color: rgba(250,250,250,1);
  background-color: #EFEAC5;
  font-family: 'Roboto';
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.centered_wrap{
  display: table;
  height: 100%;
  width: 100%;
}

.centered_block{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content {
  width: calc(100% - 260px);
  margin-left: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  position: relative;
  z-index: 5;
}

a{
  color: #1B8798;
  text-decoration: none;
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}
/*
a.with-shadow{
position: relative;
top: 0px;
left: 0px;
}

a.with-shadow:hover{
top:-2px;
left:-2px;
text-shadow: 2px 2px 1px rgba(0,0,0,.2);
}*/

a:hover{
  color: #4E4D4A;
}

a#site-title{
  color: rgba(250,250,250,1);
  display: block;
  font-family: 'Kalam', cursive;
  font-family: 'Delius', cursive;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  vertical-align: middle;
}

a#site-title.white-bg{
  color: #353432;
}

a#site-title.white-bg span{
  color: rgba(250,250,250,1);
}

a#site-title span{
  font-family: 'Delius', cursive;
  /* font-family: 'Kalam', cursive; */
  background-color: #D6254D;
  /* width: 40px; */
  display: inline-block;
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
  width: 34px;
  font-size: 50px;
  color: #353432;
  margin-right: 5px;
  vertical-align: top;
}

@media( max-width: 982px ){
  nav.nav-sidebar {
    width: 100%;
    height: auto;
  }
}


.page{
  height: 100%;
  overflow: hidden;
}

.post_wrap{
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,.2);
  display: inline-block;
  color: #000;
  font-size: 1rem;
  margin-bottom: 30px;
  position: relative;
  /*transition: .5s;*/
}

.header_info,
.post_content,
.post_links{
  padding: 10px 10px;
}

.post_wrap.normal{
  padding-bottom: 32px;
  position: relative;
  bottom: none;
  right: none;
  width: 45%
}

.post_wrap.mini{
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.post_wrap h1{
  font-size: 1.4rem;
  margin: 10px 0;
}

.post_wrap h2{
  font-size: 1em;
}

.post_wrap p{
  line-height: 1.3em;
  margin: 5px 0;
  text-align: justify;
}

span.hide_post {
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  background-color: #444;
  border: 3px solid #f0f0f0;
  border-radius: 50%;
  text-align: center;
  padding: 4px 8px;
  position: absolute;
  top: -18px;
  right: -20px;
  box-shadow: 2px 0px 1px -1px rgba(0,0,0,.3);
}

.normal .header_info{
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 5px;
  padding-top: 6px;
}

.mini .header_info{
  padding: 0;
}

.photo_wrap {
  display: inline-block;
  outline: 1px solid #ccc;
  vertical-align: middle;
}

.post_avatar{
  width: 50px;
  height: 50px;
}

.post_info {
  display: inline-block;
  vertical-align: middle;
}

.post_info h1,
.post_info h2{
  font-weight: 700;
  margin: 3px 0 6px 10px;
}

.post_info h2>a{
  color: #8A8780;
  font-weight: 500;
  opacity: .8;
}

.post_content {
  cursor: pointer;
  padding-bottom: 5px;
}

.post_image {
  width: 100%;
  margin-bottom: 10px;
}

.post_links{
  padding-top: 0;
  padding-bottom: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.post_links i.fa{
  color: rgba(0,0,0,.3);
  font-size: 1.6em;
  transition: .5s;
}

.post_links i.fa:hover{
  color: #D1313D;
}

/*
** Auth Styles
*/

.page.auth {
  display: table;
  height: 100%;
  width: 100%;
}

.content.login,
.content.register {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.auth-form{
  display: inline-block;
  margin: auto;
  text-align: initial;
}

.auth-form form {
  background-color: rgba(250,250,250,1);
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba(33,33,33,.1);
  margin-bottom: 20px;
  padding: 20px 40px;
}

.form-group{
  width: 100%;
}

.form-group input[type='email'],
.form-group input[type='password'],
.form-group input[type='text']{
  backgound-image: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px 14px;
  margin-bottom: 10px;
  min-width: 250px;
}

.form-group .checkbox{
  margin-bottom: 10px;
  vertical-align: top;
}

.form-group input[type='checkbox']{
  margin: 0;
  vertical-align: top;
}

.form-group .btn{
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  background-image: none;
  background-color: #176543;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,.05);
  border-radius: 2px;
  color: rgb(250,250,250);
  -webkit-transition: .2s;
  transition: .2s;
}

.form-group .btn:hover{
  box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,.2);
}

/*
** END Auth Styles
*/

/*
** Sidebar
*/

nav.nav-sidebar {
  background-color: #353432;
  /*background-color: #1C090B;*/
  box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), inset 0px 0px 20px 2px rgba(0,0,0,.1);
  color: rgba(250,250,250,1);
  width: 155px;
  height: calc(100% - 216px);
  padding: 0 0 216px 0;
  position: fixed;
  z-index: 8;
}

#sidebar-handle {
  color: rgb(250,250,250);
  display: inline-block;
  font-size: 25px;
  position: absolute;
  z-index: 1;
  left: 234px;
  bottom: calc(50% - 30px);
  background-color: #2b2a28;
  padding: 10px 10px 10px 20px;
  border-radius: 50%;
}

#sidebar-handle:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100px;
  height: 45px;
  background-color: #2b2a28;
  left: -82px;
}

ul.nav-links {
}

ul.nav-links li{
  color: #ddd;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  transition: .3s;
}

ul.nav-links li.active{
  box-shadow: inset 0 2px 5px 0px rgba(34,34,34,.2);
  background-color: #D6254D;
  color: #fff
}

ul.nav-links li.active>a{
  color:
}
ul.nav-links li:not(.active):hover{
  background-color: #2a2927;
}
ul.nav-links li>a.nav-link {
  color: inherit;;
  display: block;
  margin: auto;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
  transition: .3s;
  text-align: left;
  overflow: hidden;
  z-index: 99;
}

ul.nav-links li:hover:not(.active)>a.nav-link{
  /*box-shadow: inset 0 2px 5px 0px rgba(34,34,34,.2);*/
  color: #fff;
  text-transform: uppercase;
}

.nav-sidebar .user_wrap{
  width: 100%;
  height: auto;
}

.nav-sidebar .user_wrap>img{
  display: block;
  width: 100%;
}

.profile_menu {
  background-color: #000;
  bottom: 0px;
  position: absolute;
}

.profile_menu .user_name {
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.profile_menu .profile_menu_item {
  cursor: pointer;
  float: left;
  padding: 10px 0;
  text-align: center;
  transition: .3s;
  width: 50%;
}

.profile_menu .profile_menu_item:hover {
  color: #D6254D;
}

/*
** END Sidebar
*/

/*
** User page
*/

.content.profile {
  padding: 0;
  margin-left: 155px;
  width: calc(100% - 250px);
}

header#profile-header {
  width: 100%;
  /*height: 200px;*/
  background-color: #DAD6CA;
  position: relative;
  padding: 20px 80px;
}

.avatar_wrap {
  width: 180px;
  height: 180px;
  display: block;
  border-radius: 50%;
  border: 1px solid #373737;
  overflow: hidden;
  background-image: url('http://localhost/laravel/image1000000');
  background-size: cover;
}

.avatar_wrap img {
  width: 100%;
  height: 100%;
}

/*
** END User page
*/

/*
** Upload page
*/

.content.upload{
  display: table;
  height: 100%;
  padding: 0;
}

.content.upload .form_wrap{
  display:table-cell;
  margin:10px;
  vertical-align: middle;
  text-align: center;
}

.content.upload .form_wrap form {

}

/*
** Modal style
*/

.modal{
  background-color: rgba(0,0,0,.4);
  display: table;
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999;
}

.modal_wrap{
  display: table-cell;
  vertical-align: middle;
}

.modal_window{
  background-color: rgb(255,255,255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: inline-block;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  position: relative;
  width: auto;
}

.modal_controls {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: -34px;
}

.modal_control{
  background-color: rgba(255,255,255,1);
  color: rgb(50,0,0);
  cursor: pointer;
  display: block;
  font-size: 16px;
  float: right;
  padding: 9px 15px;
  transition: .3s;
}

.modal_control:hover{
  background-color: rgba(160,160,160,.8);
}

span.modal_exit:hover{
  color: #fff;
  background-color: #CE0A31;
}

/*
** END Modal style
*/

/*
** Dropzone styles
*/
.dropzone{
  background-color: transparent;
  outline: 4px dashed #1B8798;
  color: #1B8798;
  cursor: pointer;
  display: table;
  text-align: initial;
  margin: auto;
  max-width: 450px;
  width: 100%;
  height: auto;
  min-height: 400px;
  position: relative;
  text-align: center;
  transition: .5s;
}

.dropzone.dz-started{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
}

.dropzone.dz-drag-hover{
  /*padding: 20px;*/
  background-color: #1B8798;
  border-color: #fff;
  color: #fff;
}

.dz-default.dz-message{
  color: inherit;
  display: table-cell;
  font-size: 36px;
  font-weight: 300;
  padding: 0 30px;
  vertical-align: middle;
}

.dz-default.dz-message:after {
  width: 100%;
  display: block;
  content: '\f019 ';
  font-family: FontAwesome;
  line-height: 1em;
  margin-top: 20px;
  font-size: 128px;
  color: inherit;
  top: calc(50% - 64px);
  text-align: center;
}

.dz-default{
  width: 100%;
  height: 100%;
}

.dz-preview {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  transition: padding .6s, width 1s, height 1s, border .6s;
  margin: 10px 0;
  border: 2px solid #1B8798;
  padding: 10px;
  /*background-color: #fff;*/
  background-color: #ccc;
}

.dz-complete.dz-preview:hover {
  /*width: 250px;
  height: 250px;*/
  padding: 0;
  border: 10px solid #1B8798;
}

.dz-preview>.dz-image img{
  width: 100%;
  height: 100%;
}

.dz-complete.dz-preview>.dz-details {
  position: absolute;
  top: 10px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  padding: 10px 5px;
  transition: top 0s, width 1s;
  max-width: 170px;
  width: 100%;
}

.dz-complete.dz-preview:hover>.dz-details{
  top:0px;
  max-width: 240px;
}

.dz-success-mark, .dz-error-mark {
  top: calc(50% - 26px);
  left: calc(50% - 26px);
  display: block;
  opacity: 0;
  position: absolute;
}

.dz-success-mark{
  top: 60%;
}

.dz-processing>.dz-progress {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 50px);
  left: 10px;
  height: 20px;
  width: calc(100% - 20px);
  background-color: #ccc;
}

.dz-processing.dz-complete>.dz-progress{
  opacity: 0;
}

.dz-progress>.dz-upload{
  height: 100%;
  background-color: #D6254D;
  display: block;
}

.dz-error-message {
  position: absolute;
  bottom: 10px;
  color: #fff;
  opacity: 0;
  padding: 10px 5px;
  width: 100%;
  max-width: 170px;
  background-color: rgba(234,30,50,.8);
}

.dz-error>.dz-error-message{
  opacity: 1;
}

.dz-error>.dz-error-mark{
  opacity: 1;
}

.dz-processing>.dz-success-mark{
  opacity: 1;
}

.dz-complete>.dz-success-mark{
  opacity: 0;
}

.dz-started>.dz-default{
  display: none;
}
/*
** END Dropzone styles
*/

/*
** CSS3 Tricks
*/

#circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgba(35,100,240,.2);
    background-color: rgba(214,37,77,1);
    opacity: .6;
    position: absolute;
}

/*
** END CSS3 Tricks
*/

/*
** END Upload page
*/

#site-overlay{
  background-color: #f0f0f6;
  background-color: #EFEAC5;
  display: table;
  z-index: 9;
  position: fixed;
  overflow-y: auto;
}

.loading-overlay {
  top: 0px;
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.box.is-uploading .loading-overlay{
  display: table;
}

.cssload{
  display: table-cell;
  vertical-align: middle;
  z-index: 6;
}

.cssload-thecube {
  width: 74px;
  height: 74px;
  margin: 0 auto;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #457D97;
  background-color: #D6254D;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}

.cssload-thecube i {
    position: absolute;
    top: 14px;
    left: 17px;
    font-size: 48px;
    color: #f0f0f6;
    z-index: 999;
    transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
}


@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

/* CSS LOAD END */
